*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: #262626;
    border: 2px red solid;
    height: 100vh;
    justify-content: center;
    position: relative;
    
}
.container{
    position: relative;
    border: green 2px solid;
    width:1100px;
    min-width: 1100px;
    height: 100%;
    resize: none;
}
.imageBox{
    position: absolute;
    margin-left: 0;

    left: 0;
    right: 0;
    text-align: center;
    /*
    width: 551px;
    min-width: 525px;
    */
    height: 100%;
}

img{
    position: absolute;
    left: 0;
    width: 450px;
    height: 100%;
}

.formBox{
    position: absolute;
    right: 0;
    width: 650px;
    height: 100%;
    border: yellow 2px solid;
    background-color: aliceblue;
    resize: none;
}
form{

}

fieldset{
    
}


.rows1{          
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.cols1{
    display: flex;
    flex-direction: column;

    margin-left: 0px;
}

.cols2{
    display: flex;
    flex-direction: column;

}

input{
    margin-bottom: 1rem;
}

input,
label{
    margin-left: 5rem;
}

button{
    padding: 0.5rem 1rem;
}






@media screen and (max-width: 1100px) {
    .formBox {
      background-color: rgb(33, 33, 73);
    }
}